.dice-roll{
    width: 100px;
    height: 50px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bolder;
    margin-right: 40%;
    margin-top: 0%;
    background-color: rgb(255, 90, 30);
    border-radius: 40%;
    border:2px solid black;
}
.highs{
    width: 100px;
    height: 50px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bolder;
    margin-right: 20%;
    margin-top: -20%;
    background-color: rgb(255, 90, 30);
    border-radius: 40%;
    border:2px solid black;
}
.logo{
    width: 200px;
    margin-left: 10%;
}

.green{
    background-color: green;

}
.orange{
    background-color: rgb(255, 136, 0);
    
}
.div{
    margin-left: 45%;
}
.roll{
    margin-left: 45%;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-out;
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.one{
    width: 100%;
    color: black;
    margin-left: 30%;
    
}

.round{
    border:2px solid black;
    display: inline-block;
    color: black;
    background-color: rgb(255, 90, 30);
    margin-top: 50px !important;
    margin-left: 5%;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 45%;
}
.dices{
justify-content:center;
align-items:center;
border-radius:5px;
margin-left:20%;
margin-top: 5%;
cursor:pointer;
width: 100%;
}
.newG{
    width: 100px;
    height: 50px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    font-weight: bolder;
    margin-left: -20%;
    margin-top: -9%;
    background-color: rgb(255, 90, 30);
    border-radius: 40%;
    border:2px solid black;
}

@media screen and (min-width: 1800px)  {
    .highs{
        margin-top: -5%;
    }
}